<template>
  <Portfolio/>
  <div class="source">
    <a href="https://gitlab.com/Shift1532/portfolio" id="source"></a>
  </div>
  <main>
    <Init/>

    <Page>
      <div class="grid4" id="presentation">
        <div class="box1">
          <Orca/>
        </div>
        <img class="box2" src="/photo.jpg" alt="Photo">
        <div class="box3">
          <h2>Baptiste Bernier</h2>
          <p>
            Innovateur, assimilation et apprentissage rapide, social
          </p>
        </div>
      </div>
    </Page>

    <Page></Page>
      
    <Page>
      
      <div class="grid2" id="presentation2">
        <div class="box2">
          <h2>
            Developpement web sous toutes (presque) les formes
          </h2>
          <p>
            - Javascript / Typescript<br>
            - Vue, NuxtJS, Svelte, ThreeJS<br>
            - MongoDB, Neo4J, MySQL, GunJS<br>
            - Github / Gitlab, Git, Npm / Yarn<br>
            - VS Code
          </p>
        </div>
        <img class="box1" src="/Screenshot_20230221_214026.png" alt="VSCodium">

        <div class="box3">
          
        </div>
      </div>
    </Page>
  </main>
</template>

<style>

  body {
    margin: 0;
    font: 15px monospace;
  }

  .source {
    background-color: white;
    width: 10vmin;
    height: 10vmin;
    display: block;
    position: fixed;
    clip-path: circle(40%);
    box-sizing: border-box;
    z-index: 3;
  }

  #source {
    background-image: url(/image_proxy.jpg);
    background-size:70% auto;
    background-position: center;
    position: relative;
    display: block;
    background-repeat: no-repeat;

    text-indent: -9999px;
    height: 100%;
    width: 100%;
    
    
  }

  .grid4 {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr; 
    grid-template-rows: 0.6fr 1.8fr;
    grid-template-areas: 
      "box3 box2"
      "box1 box1";
    gap: 3% 3%; 
    padding: 4%;
    z-index: 1;
  }

  .grid2 {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr; 
    grid-template-rows: 0.6fr 1.8fr;
    grid-template-areas: 
      "box1 box1"
      "box2 box2";
    padding: 4%;
    z-index: 1;
  }

  #presentation {
    background-color: white;
    
  }

  #presentation img {
    width: 100%;
    border-radius: 10%;
    filter: drop-shadow(10px 10px 10px grey);
  }

 .box1{
    grid-area: box1;
  }

  .box2{
    grid-area: box2;
    color: rgb(0, 132, 255);
  }

  .box3{
    grid-area: box3;
    color: rgb(0, 132, 255);
  }

  #presentation2 {
    background-color: white;
    height: 100%;
    perspective: 600px;
  }

  #presentation2 img {
    width: 100%;
    transform: rotateX(15deg);
  }

  @media screen and (hover) and (pointer: fine){
    
    html {
      scroll-snap-type: y mandatory;
    }

    .page {
      scroll-snap-align: center;
      scroll-snap-stop: always;
    }

    .grid4 {
      grid-template-columns: 1.4fr 0.6fr; 
      grid-template-rows: 0.8fr 1.2fr; 
      grid-template-areas: 
        "box1 box2"
        "box1 box3";
    }

    .grid2 {
      grid-template-columns: 1.3fr 0.7fr; 
      grid-template-rows: 0.6fr 1.8fr;
      grid-template-areas: 
        "box1 box2"
        "box1 box2";
    }
  }

</style>

