<template>
    <div class="separateur"></div>
    <div class="page" id="init">
        <slot></slot>
    </div>
</template>

<style>
    .page {
        width: 100vw;
        position: relative;
        z-index: 0;
    }

    .separateur {
        height: 100%;
        top: 55%;
        width: 100%;
        position: absolute;
        clip-path: ellipse(50% 12% at 50% 50%);
        background-color: white;
        z-index: 0;
    }

    #init {
        height: 90vh;
    }

    @media screen and (hover) and (pointer: fine){

        .separateur {
            clip-path: ellipse(50% 12% at 50% 50%);
            top: 50%;
        }

        #init {
            height: 100vh;
        }
    }

</style>