<template>
    <div id="Orca"></div>
</template>

<script>
    import * as THREE from 'three';
    import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';

    export default {
        mounted() {
            let camera, scene, renderer, clock, mixer, model, mixer2, model2;
            clock = new THREE.Clock();

            //

            renderer = new THREE.WebGLRenderer({antialias:true});
            renderer.setPixelRatio( window.devicePixelRatio );

            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
                renderer.setSize( window.innerWidth * 0.92, window.innerHeight * 0.67 );
                camera = new THREE.PerspectiveCamera( 55, (window.innerWidth * 0.92) / (window.innerHeight * 0.67), 1, 20000 );
            } else {
                renderer.setSize( window.innerWidth * 0.6, window.innerHeight * 0.9 );
                camera = new THREE.PerspectiveCamera( 55, (window.innerWidth * 0.6) / (window.innerHeight * 0.9), 1, 20000 );
            }

            renderer.toneMapping = THREE.ACESFilmicToneMapping;
            this.$el.appendChild( renderer.domElement );

            //

            scene = new THREE.Scene();
            scene.background = new THREE.Color(0xffffff)

            camera.position.set( 25, 0, 70 );
            camera.rotation.set( 0, 0.35, 0);

            //

            const hemiLight = new THREE.HemisphereLight(0xffffff, 0x484848, 2);
            scene.add(hemiLight);

            var loader = new GLTFLoader();
            loader.load( 'Orca.glb', function (gltf) {
                mixer = new THREE.AnimationMixer(gltf.scene);
                var action = mixer.clipAction( gltf.animations[0] );
                action.play();
                action.setEffectiveTimeScale(0.7);
                gltf.scene.scale.set(gltf.scene.scale.x * 5,gltf.scene.scale.y * 5,gltf.scene.scale.z * 5);
                gltf.scene.traverse( child => {
                    if (child.material) {
                        child.material.metalness = 0.0;
                        child.material.roughness = 0.0;
                    }
                });
                scene.add(gltf.scene);
                model = gltf.scene;
                model.rotation.y = Math.PI/2
            });

            var loader = new GLTFLoader();
            loader.load( 'Orca.glb', function (gltf) {
                mixer2 = new THREE.AnimationMixer(gltf.scene);
                var action = mixer2.clipAction( gltf.animations[0] );
                action.play();
                action.setEffectiveTimeScale(1.5);
                gltf.scene.scale.set(gltf.scene.scale.x * 2.5,gltf.scene.scale.y * 2.5,gltf.scene.scale.z * 2.5);
                gltf.scene.traverse( child => {
                    if (child.material) {
                        child.material.metalness = 0.0;
                        child.material.roughness = 0.0;
                    }
                });
                scene.add(gltf.scene);
                model2 = gltf.scene;
                model2.rotation.y = Math.PI/2
                model2.position.set(-5, -5, 10);
            });

            const geometry = new THREE.PlaneGeometry( 30, 30 );
            const material = new THREE.MeshBasicMaterial( {color: 0xffffff} );
            const plane = new THREE.Mesh( geometry, material );
            scene.add( plane );

            plane.position.y = -20;
            plane.rotation.x = -Math.PI/2;

            if(!(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))){

                //window.addEventListener( 'resize', onWindowResize );

                function onWindowResize() {
                    camera.aspect = window.innerWidth * 0.25 / window.innerHeight * 0.25;
                    camera.updateProjectionMatrix();
                    renderer.setSize( window.innerWidth * 0.25, window.innerHeight * 0.8 );
                    renderer.setPixelRatio( (window.innerWidth * 2) / (window.innerHeight * 0.8) );
                }
            }

			function animate() {
                setTimeout( function() {
                    requestAnimationFrame( animate );
				    render();
                }, 1000 / 60 );

                var delta = clock.getDelta();
                if (mixer) mixer.update(delta);
                if (mixer2) mixer2.update(delta);
			}

			function render() {
				renderer.render( scene, camera );
			}

            animate();
        }
    };
</script>

<style>
    #Orca {
        width: 100%;
        height: 100%;
    }
</style>
