<template>
    <div class="page">
        <slot></slot>
    </div>
</template>

<style>
    .page {
        height: 100vh;
        width: 100vw;
        position: relative;
        z-index: 2;
    }

</style>