
<template>
    <div id="background"></div>
</template>

<script>
    import * as THREE from 'three';
    import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
    import { Water } from 'three/addons/objects/Water.js';
	import { Sky } from 'three/addons/objects/Sky.js';
    import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';


    export default {
        mounted() {
            let camera, scene, renderer;
			let controls, water, sun, cube;
            
            //

            renderer = new THREE.WebGLRenderer({antialias:true});
            renderer.setPixelRatio( window.devicePixelRatio );
            renderer.setSize( window.innerWidth, window.innerHeight );
            renderer.toneMapping = THREE.ACESFilmicToneMapping;
            this.$el.appendChild( renderer.domElement );

            //

            scene = new THREE.Scene();

            camera = new THREE.PerspectiveCamera( 55, window.innerWidth / window.innerHeight, 1, 20000 );
            camera.position.set( 30, 30, 100 );

            //

            sun = new THREE.Vector3();

            // Water

            const waterGeometry = new THREE.PlaneGeometry( 10000, 10000 );

            water = new Water(
                waterGeometry,
                {
                    textureWidth: 512,
                    textureHeight: 512,
                    waterNormals: new THREE.TextureLoader().load( 'waternormals.jpg', function ( texture ) {
                        texture.wrapS = texture.wrapT = THREE.RepeatWrapping;
                    } ),
                    sunDirection: new THREE.Vector3(),
                    sunColor: 0xffffff,
                    waterColor: 0x001e4f,
                    distortionScale: 3.7,
                    fog: scene.fog !== undefined
                }
            );

            water.rotation.x = - Math.PI / 2;

            scene.add( water );

            // Skybox
            
            const sky = new Sky();
            sky.scale.setScalar( 10000 );
            scene.add( sky );

            const skyUniforms = sky.material.uniforms;

            skyUniforms[ 'turbidity' ].value = 10;
            skyUniforms[ 'rayleigh' ].value = 2;
            skyUniforms[ 'mieCoefficient' ].value = 0.005;
            skyUniforms[ 'mieDirectionalG' ].value = 0.8;

            const parameters = {
                elevation: 5,
                azimuth: 100
            };

            const pmremGenerator = new THREE.PMREMGenerator( renderer );
            let renderTarget;

            function updateSun() {
                const phi = THREE.MathUtils.degToRad( 90 - parameters.elevation );
                const theta = THREE.MathUtils.degToRad( parameters.azimuth );

                sun.setFromSphericalCoords( 1, phi, theta );

                sky.material.uniforms[ 'sunPosition' ].value.copy( sun );
                water.material.uniforms[ 'sunDirection' ].value.copy( sun ).normalize();

                if ( renderTarget !== undefined ) renderTarget.dispose();

                renderTarget = pmremGenerator.fromScene( sky );

                scene.environment = renderTarget.texture;
            }

            updateSun();

            const loader = new GLTFLoader();

            loader.load(
                'montagnes.gltf',
                function ( gltf ) {
                    scene.add( gltf.scene );
                    gltf.scene.scale.set(gltf.scene.scale.x * 400,gltf.scene.scale.y * 200,gltf.scene.scale.z * 400);
                    gltf.scene.position.set(100,0,-200);
                }
            );
            
            const cubeGeometry = new THREE.BoxGeometry( 20, 20, 20 );
            const cubeMaterial = new THREE.MeshStandardMaterial( { 
                roughness: 0.0,
                metalness: 1.0,
                color: 0x000000
            });

            cube = new THREE.Mesh( cubeGeometry, cubeMaterial );
            scene.add( cube );

            //
            
            controls = new OrbitControls( camera, renderer.domElement );
            controls.maxPolarAngle = Math.PI * 0.495;
            controls.target.set( 0, 10, 0 );
            controls.enableDamping = true;
            controls.enableZoom = false;
            controls.minDistance = 40.0;
            controls.maxDistance = 200.0;
            controls.autoRotate = true;
            controls.autoRotateSpeed = 1.0;
            controls.enabled = false;
            controls.update();

            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
            
                camera.aspect = window.innerWidth / window.innerHeight;
                camera.updateProjectionMatrix();
                renderer.setSize( window.innerWidth * 1.2, window.innerHeight * 1.2 );
                
            } else {
                window.addEventListener( 'resize', onWindowResize );

                function onWindowResize() {
                    camera.aspect = window.innerWidth / window.innerHeight;
                    camera.updateProjectionMatrix();
                    renderer.setSize( window.innerWidth, window.innerHeight );
                }
            }

			function animate() {
                setTimeout( function() {
                    requestAnimationFrame( animate );
				    render();
                }, 1000 / 60 );

                controls.update();
			}

			function render() {
				const time = performance.now() * 0.001;

				cube.position.y = Math.sin( time ) * 2 + 25;
				cube.rotation.x = time * 0.5;
				cube.rotation.z = time * 0.51;

				water.material.uniforms[ 'time' ].value += 1.0 / 60.0;

				renderer.render( scene, camera );
			}

            animate();
        }
    };
</script>

<style>
    #background {
        position: fixed;
        
        z-index: 0;
    }
</style>